$width: 400px;
$margin-right: 25px;
$margin-2: 10px;

* {
    box-sizing: border-box;
}

img {
    display: block;
}

a {
    color: lightblue;
}

h1 {
    font-size: 4em;
}

h1, h2 {
    margin: 0 0 $margin-2 0;
}

.page-wrap {
    width: 800px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        align-self: flex-start;
    }

    .main-story {
        position: relative;
        margin: 0 0 $margin-right 0;

        img {
            width: 80vw;
            min-width: 650px;
        }

    }

    .sub-stories {
        overflow: hidden;
        margin: 0 0 $margin-right 0;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr;
        min-width: $width;

        .sub-story {
            float: left;
            width: 100%;
            margin-right: $margin-right;
            position: relative;
            font-size: 80%;
            margin-top: $margin-2;
        }

        img {
            width: 100%;
        }

        .last {
            margin-right: 0;
        }

        @media screen and (min-width: 768px) {
            grid-template: 1fr 1fr / 1fr 1fr;
            .sub-story {
                width: 250px;
            }
            img {
                width: 250px;
            }
        }

        @media screen and (min-width: 992px) {
            grid-template: 1fr / 1fr 1fr 1fr;
        }
    }
}

.story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;

    h1 {
        font-size: 2.5em;
    }

    p {
        margin: 0;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-color: grey;
    }
}